USE [master]
GO
/****** Object:  Database [JamieDB]    Script Date: 17.01.2017 05:55:04 ******/
CREATE DATABASE [JamieDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JamieDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\JamieDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JamieDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\JamieDB_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JamieDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JamieDB]
GO
/****** Object:  Table [dbo].[RecipeIngredients]    Script Date: 17.01.2017 05:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeIngredients](
	[Id] [bigint] IDENTITY(1000000,1) NOT NULL,
	[RecipeID] [bigint] NOT NULL,
	[Ingredient] [nvarchar](50) NOT NULL,
	[Quantity] [numeric](18, 2) NOT NULL,
	[Unit] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 17.01.2017 05:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[Id] [bigint] IDENTITY(1000000,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[PortionQuantity] [numeric](18, 2) NOT NULL,
	[Source] [nvarchar](50) NULL,
	[SourcePage] [int] NULL,
	[SourceISBN] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[RecipeIngredients]  WITH CHECK ADD  CONSTRAINT [FK_RecipeIngredients_Recipe] FOREIGN KEY([RecipeID])
REFERENCES [dbo].[Recipes] ([Id])
GO
ALTER TABLE [dbo].[RecipeIngredients] CHECK CONSTRAINT [FK_RecipeIngredients_Recipe]
GO
USE [master]
GO
