<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JamieDB.Properties.Settings.JamieDBConnectionString"
            connectionString="Data Source=FOLLETT\SQLEXPRESS;Initial Catalog=JamieDB;User ID=JamieDBUser;Password=JamieDBUser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>